##const
	desktop-width=1280px
	desktop-border-color=dimgray
	desktop-header-height=90px
	desktop-footer-height=45px
	navigator-width=150px
##endconst

html, body, form {
	padding: 0;
	margin: 0;
	border: 0;
	height: 100%;
	max-height: 100%; 
	overflow-y: hidden;
##version=ie8	
	overflow-x: auto;
##else
	overflow-x: hidden;
##endif	
}

body {
	background: whitesmoke;
}

#desktop-container {
	position: relative;
	height: 100%;
	overflow: hidden;
	background: white;
	box-sizing: border-box;
##version=ie8
	margin: auto;
	width: [desktop-width]; 
##endif
}

#desktop-header-container {	
	height: [desktop-header-height];
	width: 100%;
	box-sizing: border-box;
}

#desktop-header-container .toolbar-container {	
	float:right;
	height: 100%;
	width: auto;
}

#desktop-data-container {
	position: relative;
	width: 100%; 
	height: 100%;
	top: 0px;
	bottom: [desktop-header-height];	
	box-sizing: border-box;
}

#data-container {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: [desktop-footer-height];
	padding-bottom: [desktop-header-height] !important;
	xbottom: 180px;
	width: 100%; 
	overflow: hidden;
	box-sizing: border-box;
}

#inner-data-container {
	display: table;
	width: 100%;
	height: 100%;
}

#navigator-container {
	/*float: left;*/
	/*display: table-cell;*/
	position: relative;
	width: [navigator-width];
	min-width: [navigator-width];
	height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
}

#sub-data-container {
	position: relative;
	display: table-cell;
	width: 100%;
	/*left: Calc([navigator-width] + 6px);*/
	/*width: Calc(100% - [navigator-width] - 6px);*/
	
	height: 100%;
	box-sizing: border-box;
}

#parent-sub-header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 49px;
	line-height: 49px;
	background: white;
	/*border: 1px #DDDDDD;*/
	/*border-style: none none solid;*/
	box-sizing: border-box;
	font-family: Calibri;
	font-size: 2em;
}

#parent-sub-header label[x-sec="icon"]{
	
}

#parent-sub-header label[x-sec="title"]{
	padding-left: 10px;
	color: black;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

#parent-sub-header label[x-sec="sub-title"]{
	padding-left: 4px;
	font-size: 75%;
	color: dimgray;
	text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
}

#parent-sub-header label[x-sec="quo"]{
	padding-left: 4px;
	color: goldenrod;
	font-size: 90%;
	/*margin: 0px 2px 0px 2px;*/
}

#parent-sub-container {
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	top: 49px;
	height: Calc(100% - 49px);
	/*height: 100%;*/
	box-sizing: border-box;
}

#desktop-footer-container {	
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

#footer-container {	
	position: absolute;
	width: 100%;
	height: [desktop-footer-height];
	bottom: [desktop-header-height];
	box-sizing: border-box;
}

.sub-container {
	/*absolute, relative position seems have different effect under Chrome and IE*/
##version=ie10
	xposition: relative;
##endif	

##version=internetexplorer11
	position: relative;
##else	
	position: absolute;
##endif
	top: 0px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

@media (max-width: [desktop-width]) {
	#desktop-container {
		margin: 0;
		width: 100%; 
	}
}

@media (min-width: [desktop-width]) and (max-width: 2880px) {
	#desktop-container {
		margin: auto;
		width: [desktop-width]; 
	}
}

#tools-container {
	/*position: relative;*/
	display: table-cell;
	height: 100%;
	width: 250px;
	min-width: 250px;
	background: #666666;
	border: 1px black;
	border-style: none none none solid;
}