/*****************************************************************************************************/
/* Last modified on */
/* 31-JUL-2017 */
/*****************************************************************************************************/
.pg2 {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

.pg2 .pg-header {
	/* position: relative; */
	display: flex;
	flex-flow: row;
	flex-shrink: 0;
	width: 100%;
	height: auto;
	/* padding-left: 6px; */
	box-sizing: border-box;
	overflow: hidden;
}

.pg2 .pg-header > .pg-scroll-buttons {
/* .pg-scroll-buttons { */
	display: flex;
	flex-flow: row;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 12;
}

.pg2 .pg-header > .pg-scroll-buttons > .pg-scroll-right,
.pg2 .pg-header > .pg-scroll-buttons > .pg-scroll-left {
/* .pg-scroll-buttons > .pg-scroll-right, */
/* .pg-scroll-buttons > .pg-scroll-left { */
	margin: auto 2px;
	cursor: pointer;
	background: white;
	border: 1px solid #92846A;
}

.pg2 .pg-gutter {
	position: relative;
	z-index: 11;
	flex-shrink: 0;    
}

.pg2 .pg-gutter-border {
	position: absolute;
    top: -1px;
    width: 100%;
	height: calc(100% + 1px);
	box-sizing: border-box;
}

.pg2 .pg-tab-content {
	display: flex;
	flex-flow: row;
	height: 100%;
}

.pg2 .tab-content[shown="1"] {
	opacity: 1;
	transition: opacity 0.3s;
}

.pg2 .tab-content[shown="0"] {
	opacity: 0;
	transition: opacity 0.3s;
}

.pg2 .pg-tab-content .pg-content-caption {
	flex-grow: 1;
	display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
	white-space: nowrap;
}

.pg2 .pg-tab-content .pg-content-icon {
	flex-shrink: 0;
	/* padding-left: 6px; */
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.pg2 .pg-tab-content .pg-content-icon.no-caption {
	padding: 0 6px 0 6px;
}

.pg2 .pg-tab-content .pg-content-icon svg {
	opacity: 0.5;
}

.pg2 .pg-content {
	position: relative;
	flex-grow: 1;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.pg2 .pg-content.auto-height {
	height: auto;
}

.pg2.pg-full-border .pg-content {
	border-width: 1px;
	border-style: none solid solid solid;
}

.pg2 .pg-tab {
	position: relative;
	z-index: 10;
    font-size: 100%;
	/* margin-right: 2px; */
    cursor: pointer;
}

.pg2 .pg-tab.tab-active {
	/* font-weight: bold; */
    z-index: 12;
}

.pg2 .pg-tab.tab-active svg {
	opacity: 1;
}

.pg2 .tab-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.pg2 .tab-content.auto-height {
	position: relative;
}