##const
	icon-margin=8px
	container-size=64px
	icon-size=50%
	icon-color=#666666
##endconst

.sub-container[id="sub-icons"] {
	overflow-y:scroll;
	border: 1px #3287BA;
	border-style: solid none none none;	
	padding-top: [icon-margin];
	padding-left: [icon-margin];
}

.sub-container[id="sub-icons"] .icon {
	float: left;
	width: [container-size];
	height: [container-size];
	border: 1px solid;
	margin-right: [icon-margin];
	margin-bottom: [icon-margin];
}

.sub-container[id="sub-icons"] .icon[clone="0"] {
	border-color: gainsboro;
	fill: [icon-color];
}

.sub-container[id="sub-icons"] .icon[clone="1"] {
	border-color: #51ABDA;
	fill: #51ABDA;
}

.sub-container[id="sub-icons"] .icon svg {
	display: block;
	margin-top: 25%;
	margin-left: 25%;
	width: [icon-size];
	height: [icon-size];
}

.sub-container[id="sub-icons"] .icon:hover {
	background: [icon-color];
}

.sub-container[id="sub-icons"] .icon:hover  svg{
	fill: white;
}

.hint .clone {
	margin-top: 3px;
	border: 1px dimgray;
	border-style: dotted none none none;
}
